@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1777966526126') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon2:before {
  content: "\e618";
}

.icon-in:before {
  content: "\e6c1";
}

.icon-yousanjiao:before {
  content: "\e629";
}

.icon-shuben-shixin:before {
  content: "\e8cb";
}

.icon-shoutibao:before {
  content: "\e610";
}

.icon-zanting:before {
  content: "\e641";
}

.icon-gongjuxiang-gangbi:before {
  content: "\e6df";
}

.icon-22:before {
  content: "\e620";
}

.icon-dizhi:before {
  content: "\e608";
}

.icon-youjian:before {
  content: "\e611";
}

.icon-github:before {
  content: "\e638";
}

.icon-yunduo:before {
  content: "\e55c";
}

.icon-zimuxiaoxiea:before {
  content: "\e6a5";
}

.icon-github1:before {
  content: "\e657";
}

.icon-dianhua:before {
  content: "\e604";
}

.icon-a-zidingyirenwu:before {
  content: "\e63c";
}

.icon-business:before {
  content: "\e636";
}

.icon-mianxing-shuben:before {
  content: "\e501";
}

.icon-x:before {
  content: "\e6e7";
}

